{% extends 'base.html.twig' %}

{% block body %}
    <h1>Manufacturers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td><a href="{{ path('manufacturer_show', { 'id': manufacturer.id }) }}">{{ manufacturer.id }}</a></td>
                <td>{{ manufacturer.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('manufacturer_show', { 'id': manufacturer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manufacturer_edit', { 'id': manufacturer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manufacturer_new') }}">Create a new manufacturer</a>
        </li>
    </ul>
{% endblock %}
